# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors / IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies / build
/vendor/
/node_modules/
/build/
/dist/

# Logs & env
*.log
.env
.env.*

# WordPress / local
wp-cli.local.yml
